.img_shadow {
    border: 2px solid black;
    box-shadow: 5px 5px #82c3a6;
}

#section_img_principal {
    background-color:  #82c3a6;

}

#section_img_principal img {
    width: 80%;
}

#section_img_secundarias {
    background-color: #d5c75f;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid;
}
#section_img_secundarias img {
    width: 70%;
}

#img_paisaje:hover {
    animation: img_rotacion 2s;
}

@keyframes img_rotacion {
    from {
        -webkit-transform: rotate(0deg);
    }
    to  {
        -webkit-transform: rotate(10deg);
    }
}


#img_retrato:hover {
    animation: img_traslacion 2s;
}

@keyframes img_traslacion {
    from {
        -webkit-transform: translate(0,0);
    }
    to  {
        -webkit-transform: translate(20px, -5px);
    }
}
